{% from "@AdminLTE/Macros/menu.html.twig" import menu_item %}
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
    {% for item in menu %}
        {{ menu_item(item) }}
    {% endfor %}
</ul>
</nav>
