<form class="form-inline ml-3">
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" name="q" placeholder="{{ 'Search'|trans({}, 'AdminLTEBundle') }}" aria-label="{{ 'Search'|trans({}, 'AdminLTEBundle') }}">
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
