{% import "@AdminLTE/Macros/default.html.twig" as macro %}
<!-- Sidebar user panel -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
    {{ macro.avatar(user.avatar, user.username)  }}
    </div>
    <div class="info">
        {% if showLogoutLink or showProfileLink %}
                {% if showProfileLink %}
                    <a class="text-capitalize" href="{{ path('adminlte_profile'|route_alias, {'id' : user.identifier}) }}">
                        {{ user.name }}</a>
                    <a href="#"><i class="fas fa-circle text-success"></i> {{ 'Online'|trans({}, 'AdminLTEBundle') }}</a>
                {% endif %}
        {% endif %}
    </div>
</div>
