{% import "@AdminLTE/Macros/default.html.twig" as macro %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        {{ macro.avatar(user.avatar, user.username)  }}
    </div>
    <div class="info">
        {% if showProfileLink %}
            <a class="d-block" href="{{ path('adminlte_profile'|route_alias, {'id' : user.identifier}) }}">{{ user.name }}</a>
        {% endif %}
    </div>
</div>
