language: php
sudo: false

cache:
  directories:
    - vendor
    - node_modules
    - $HOME/.composer/cache

matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - php -i

install:
  - composer install

script:
  - composer codestyle
  - composer phpstan
  - composer tests
