{% if admin_lte_context.knp_menu.breadcrumb_menu is not same as(false) %}
    <ol class="breadcrumb float-sm-right">
        {% apply spaceless %}
            {% set breadcrumbMenu = admin_lte_context.knp_menu.breadcrumb_menu %}
            {% if admin_lte_context.knp_menu.breadcrumb_menu is same as(true) %}
                {% set breadcrumbMenu = admin_lte_context.knp_menu.main_menu %}
            {% endif %}
            {% set items = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item(breadcrumbMenu)) %}
            {% for item in items %}
                {% if not loop.first %}
                <li class="breadcrumb-item {{ loop.last ? 'active' : '' }}">
                    {% if  loop.last  %}
                        {{ item.label | trans }}
                    {% else %}
                        <a href="{{ item.uri }}">{{ item.label | trans }}</a>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        {% endapply %}
    </ol>
{% endif %}
